.notes{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    .note{
        background-color: lightyellow;
        position: absolute;
        cursor: move;
        user-select: none;
        border: 1px solid black;
        width: 200px;
        padding: 10px;
        color: black;
        text-align: justify;
        &__title{
            font-size: large;
            font-weight: 600;
        }
        &__description{
            font-size: 1rem;
        }
    }
}
